body {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
    padding:0px;
    margin:10px;
    text-align: justify;
}
.container {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 90vw;
    margin: auto;
}
/* input section */
.addToDo {
    display: flex;
    flex-direction: row; 
    gap: 4px;
}
.addBtn {
    border-radius: 10px;
    background-color: greenyellow;
    border: 0px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.addBtn:hover {
    box-shadow:  0 0 0 2px greenyellow;
}
/* added todos */
.todoListContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo {
    display: flex;
    flex-direction: row;
    cursor:grab;
    touch-action: none;
    user-select: none;

    
}
/* all input elements */
input {
    padding: 5px;
    margin: 0px;
}
.list {
    font-size: 13px;
    margin: 0px;
    padding: 3px;
    /* outline: rgb(143, 143, 15) 1px solid; */
}
#removeToDo {
   background-color: red;
   border-radius: 8px;
   border: 0px;
   cursor:pointer;
   transition: box-shadow 0.3s ease;

}
#removeToDo:hover {
    box-shadow: 0 0 0 2px red
}
#drop-zone {
    margin-top: 20px;
    padding: 10px;
    border: 2px dashed #ccc;
    text-align: center;
}
.removeBtn:hover {
    box-shadow:  0 0 0 1px rgb(255, 47, 47);
}